*{
    font-family: "Alegreya", "Open Sans", "Times New Roman";
    background-color: moccasin;
    color: black;
    text-align: center;
    
}
.container{
    width: cover;
}
.navbar-brand{
    font-family: "Amatic SC", "Open Sans", "Times New Roman";
    font-size: 45px;
    background-color: moccasin;
}
.navbar a{
    background-color:moccasin;
    color: inherit;
}
.jumbotron{
    margin: 25px;
    padding: 0;
}
hr{
    width: 75%;
}
.carousel-indicators{
    margin: 10px;
}
.carousel-item img{
    height: 400px;
    overflow: hidden;
    object-fit: contain;
}