*{
    font-family: "Montserrat", "Open Sans", "Times New Roman";
    background-color: white;
    color: black;
    text-align: center;
}
hr{
    width: 75%;
}
.navbar a{
    background-color: #f0e9e9;
    color: inherit;
}
.navbar-brand{
    font-family: "Amatic SC", "Open Sans", "Times New Roman";
    font-size: 45px;
    background-color: #f0e9e9;
}
.navbar-brand img{
    height: 60px;
    width: 60px;
}
.navbar{
    background-color: #f0e9e9;
    display:inline-flex ;
    width: 100%;
    border-bottom: solid 5px #B05574;
}
.navbar-toggler{
    padding: 0px;
}
.navbar-toggler-icon img{
   background-color: transparent;
    width: 30px;
    height: 30px;
}
nav > * {
    background-color: #f0e9e9;
} 
a img {
    background-color: #f0e9e9;
}
.navbar-footer{
    background-color: #f0e9e9;
    display:inline-flex ;
    width: 100%;
    border-top: solid 5px #80052e;
    border-bottom: none;
}
.jumbotron{
    margin: 25px;
    padding: 0;
    border: 1px;
    background: white !important;
}
.carousel-indicators{
    margin: 10px;
}
.carousel-item img{
    height: 400px;
    overflow: hidden;
    object-fit: contain;
}
.carousel-control-next{
    height: 400px;
    width: 50px;
}
.carousel-control-prev{
    height: 400px;
    width: 50px;
}
.fix-top{
    margin-top: 95px;
}
.about-img img{
    height: 350px;
    width: auto;
}
.testimonials img{
    height: 200px;
    width: 135px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin: 2%;
}
.resource-cards img{
    height: 200px;
}
/* 18 Nov 2020*/
.resource-cards{
    margin-left: 0%;
    margin-right: 0%;
}
.resource-space{
    margin-top: 20px;
}
.home-about-us img{
    height: 400px;
    width: auto;
}

.beekeeping_community {
    position: relative !important;
    height: 60vh !important;
    width: 100% !important;
    overflow: hidden !important;
    background-image: url('../images/pass-the-honey.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-left: 0% !important;
    margin-bottom: 0% !important
}
.beekeeping_community h1 {
    background-color:#f0e9e9 !important;
    opacity: .75 !important;
}

.beekeeping_community svg {
    position: absolute !important;
    background-color: transparent !important;
    bottom: 30px !important;
}

.beekeeping_community2 {
    position: relative !important;
    height: 60vh !important;
    width: 100% !important;
    overflow: hidden !important;
    background-image: url('../images/beekeeping-in-winter.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-left: 0% !important;
    margin-top: 0%;
    margin-bottom: 0% !important
}
.beekeeping_community2 h1 {
    background-color:#f0e9e9 !important;
    opacity: .75 !important;
    font-size: 40px;
}

.beekeeping_community2 svg {
    position: absolute !important;
    background-color: transparent !important;
    bottom: 30px !important;
}

/*SHOP*/
.jjpoke {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 60vh;
    overflow: hidden;
}
.e {
    background-color: #F8DFCF;
}
.e h1 {
    background-color: #F8DFCF;
    margin: 20px;
}
.e h3 {
    background-color: #F8DFCF;
}
.e p {
    background-color: #F8DFCF;
    font-size: 23px;
    margin: 20px;
}
.f {
    background-color: white;
}
.f h1 {
    background-color: white;
    margin: 20px;
}
.f h3 {
    background-color: white;
}
.f p {
    background-color: white;
    font-size: 23px;
    margin: 20px;
}
.d{
    width: 100%;
    height: auto;
}
.jjpoke img{
    height: auto;
    width: 750px;
    align-self: center;
    margin-right: 20px;
}

.quote h1{
    font-family: "Amatic SC";
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*Three images*/
#two {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 94vw;
    height: 50vh;
}

#mywork {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
}
.watercolor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
}

.watercolor h1 {
    margin-top: 10px;
    font-size: 30px;
    font-family: "Amatic SC";
    font-size:  40px;
}

.pic1 {
    height: 150px;
    width: 150px;
    margin: 10px;
}

/*resources*/

.resources-fancy {
    position: relative !important;
    height: 60vh !important;
    width: 100% !important;
    overflow: hidden !important;
    background-image: url('../images/bees.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-left: 0% !important;
    margin-bottom: 0% !important
}
.resources-fancy h1 {
    background-color:#f0e9e9 !important;
    opacity: .75 !important;
}

.resources-fancy svg {
    position: absolute !important;
    background-color: transparent !important;
    bottom: 30px !important;
}

.shop-fancy {
    position: relative !important;
    height: 60vh !important;
    width: 100% !important;
    overflow: hidden !important;
    background-image: url('../images/shop-baner.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-left: 0% !important;
    margin-bottom: 0% !important
}
.shop-fancy h1 {
    background-color:#f0e9e9 !important;
    opacity: .75 !important;
}

.shop-fancy svg {
    position: absolute !important;
    background-color: transparent !important;
    bottom: 30px !important;
}

/*20 Nov 2020*/

.hexagon_button h1 {
    background-color: transparent;
    margin-top: 40px;
}
.hexagon_button svg {
    position: absolute;
    background-color: transparent;
    background-position: center;
    bottom: 10px;
    right: 280px;
}
.hexagon_button polyline:hover {fill: #b05572;
}

/* 3 image query*/

@media only screen and (min-width: 1025px) {
    #two {
        flex-direction: row;
        height: 40vh;
    }
    
    #mywork {
        flex-direction: row;
        height: 325px;
        width: 98vw;
        
    }
    .div1-2 h1{
        margin-right: 75px;
        margin-left: 75px;
        padding: 1%;
    }
    .div1-2 img{
        margin-right: 75px;
        margin-left: 75px;
        padding: 1%;
    }
}
/*Cards querys*/
@media (max-width: 1028px) { 
    .jjpoke {
        display: grid;
        grid-template-rows: 50% 50% ;
        grid-template-columns: none;
        grid-template-areas: 
        "d" 
        "e";
    }
}

@media (max-width: 768px) { 
    .jjpoke {
        height: 80vh;
        width: auto;
        display: grid;
        grid-template-rows: 50% 50% ;
        grid-template-columns: none;
        grid-template-areas: 
        "d" 
        "e";  
    }
    .e p {
        background-color: #F8DFCF;
        font-size: 18px;
        margin: 20px;
    }
    .f p {
        background-color: white;
        font-size: 18px;
        margin: 20px;
    }
    .shop_container img {
        height: auto;
        width: 100vw;
    }

    .d {
    background-color: #F8DFCF;
    }
    .navbar-brand{
        font-family: "Amatic SC", "Open Sans", "Times New Roman";
        font-size: 40px;
    }
    .navbar-brand img{
        height: 30px;
        width: 30px;
    }
    .about img{
        height: auto;
        width: 345px;
        padding: 0px;
    }
    .how-it-works img{
        height: auto;
        width: 300px;
    }
    .home-about-us img{
        height: auto;
        width:300px ;
    }
    .hexagon_button svg {
        right: 140px;
    }
}

@media (min-width: 768px )
{
    .resource-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 33%;
        margin-left: 60px;
        margin-top: 15px;
     
    }
}







